.header{
    background-color: #71E0CF !important;
    padding: 30px;
}
.button-header{
    border: none;
    background-color: antiquewhite;
    padding: 10px 20px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}
.input-header{
    border: none;
    background-color: antiquewhite;
    padding: 5px 20px;
    width: 1100px;
    border-radius: 10px 0px 0px 10px;
}