/* modal.css */
.modal-container {
    width: 1080px;
    height: 680px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8 !important;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 2000; /* Đặt z-index cao hơn so với các khối khác để hiển thị trên cùng */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
  
.detail_img{
    width: auto !important;
    padding:0 140px;
    border-right: 4px solid #0000000b ;
}

.modal-content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 60px;
}

.detail_content{
    font-weight: lighter !important; 
    font-size: 20px !important;
}
.size_info{
    flex-wrap: wrap;
}
.selected-size {
    background-color: #e0b17e !important; /* Đổi màu tùy ý */
    color: black; /* Đổi màu chữ tùy ý */
}
.size_but{
    border-radius: 50% !important;
    border: none;
    background-color: #bfbfbf;
}
.input_quantity{
    text-align: center;
    border-radius: 15px !important;
    border: 1px solid;
}
.alert-box-modal{
    width: 250px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8 !important;
    padding-top: 20px;
    padding-left: 20px ;
    padding-right: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 2000; /* Đặt z-index cao hơn so với các khối khác để hiển thị trên cùng */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}